#formOrder {
    margin-left: 15%;
    margin-right: 15%;
}

#imgOrder {
    height: 140px;
    margin-top: 1%;
}

#btnEditOrder, #btnDeleteOrder{
    margin-top: 1%;
    margin-right: 2%;
    margin-bottom: 2% ;
}